.WritePage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.bio_container {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bio_container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.editorContainer {
  height: 300px;
  overflow: scroll;
  border: 1px solid lightgray;
}

.editor{
  height: 100%;
  border: none;
}

.menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-bottom: 10px;
}

.item {
  border: 1px solid lightgray;
  padding: 10px;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  color: #555;
}

.item h1 {
  font-size: 20px;
}

.item span {
  display: block;
font-size: 16px;
  margin-bottom: 16px;
}

.item span b {
  font-weight: bold;
}

input[type="file"] {
  display: none;
}

label[for="file"] {
  display: inline-block;
  padding: 8px 8px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 10px;
  width: 106px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 8px 12px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  border: none;
}

.cat {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.cat input[type="radio"] {
  margin-right: 8px;
}

.cat label {
  font-size: 14px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 350px) {
  .WritePage {
    flex-direction: column;
  }

  .bio_container,
  .menu {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .WritePage {
    flex-direction: row;
  }

  .bio_container,
  .menu {
    width: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .WritePage {
    flex-direction: row;
  }

  .bio_container {
    flex: 3;
  }

  .menu {
    flex: 1;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .WritePage {
    flex-direction: row;
  }

  .bio_container {
    flex: 5;
  }

  .menu {
    flex: 2;
  }
}